In [5]:
import pandas as pd 
keywords = pd.read_csv('keywords.txt', sep="\t",names=['word','Frequency'])
keywords

       word  Frequency
0        地震      50608
1        汶川      38552
2        哄抢      38159
3      救灾物资      38153
4        原因      35437
...     ...        ...
87196    出题          1
87197   坐斑疮          1
87198   hpu          1
87199    之陆          1
87200  财经新闻          1

[87201 rows x 2 columns]

In [7]:
keywords.describe()

          Frequency
count  87201.000000
mean      27.290719
std      381.382374
min        1.000000
25%        1.000000
50%        3.000000
75%        9.000000
max    50608.000000

In [8]:
keywords.to_csv('keywords.csv',sep=",")